th{
    border: 2px solid grey;
    padding:1rem;
}
table{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    border-spacing:0.5rem;
}

.details{
    display: none;
}

th:nth-child(1){background: hsl(160,70%,50%)}
th:nth-child(2){background: hsl(170, 75%, 50%)}
th:nth-child(3){background:hsl(187,80%, 50%)}